@import '../basic//colors';

@font-face {
  font-family: myfont;
  src: url("../../public/assets/fonts/Ramadhan_Mubarak.ttf");
}
.contact{
position:absolute;

}



.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-size: cover;
  background-color: $color-light-gray;
  color:$color-vibrant-blue;

  .about-container-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: url("../../public/assets/about.jpg") no-repeat bottom;
    background-size: cover;
    width: 100%;
    height: 200px;
   color: white !important;



    p{
      //font-size: larger;
    }
    justify-content: center;
    overflow:visible !important;

    h1 {
      font-family:myfont;
      color: $color-deep-blue;
      //text-stroke: 2px white;
      text-shadow: -2px 0 white, 0 4px white, 2px 2px white, 0 -2px white;
      
      font-size: 6.5rem;
      margin-top: 20px;
      line-height: 1em;
      overflow: hidden;
      width:100% !important;
    }

    button {
      border-radius: 20px 20px 0 20px;
      background: transparent;
      color: yellow;
      border-color: yellow;
      //font-size: 0.9em;
    }

    @media (max-width: 425px) {
      h1{
        font-size:5em;
       }
    
    }
    



  }
}

.about-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 
  text-align: center;
 
  p{
    text-align:start;

  }
  .about-container-text-details {
    display: flex;
     margin-top: 20px;
    // margin-bottom: 50px;
    // padding: 0 50px;
    
    figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      
      img {
        width: 100%;
        height: 40vh;
        border-radius: 5px;
      }
      
      figcaption {
        font-style: italic;
        text-align: center;
        margin-top: 10px;
      }
    }
    
    .about-container-text-values {
      margin: 20px 0 20px 40px;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        text-align: center;
      }
      
      p {
        padding: 20px;
      }
    }
    
    // media query for screens with a maximum width of 425px
    @media only screen and (max-width: 425px) {
      padding:0px !important;
      margin: 0px;
   
      figure {
        width: 100%;
        max-width: 425px;
        margin-bottom: 20px;
      }
      
      .about-container-text-values {
        margin-left: 0;
        text-align: center;
      }
    }
  }
  


}


/* Default styles for all screen sizes */
.about-container-contacts {
  //font-size: medium;
  color: $color-vibrant-blue; // Black
display:flex;
flex-direction: column;
text-align: center;
  h5 {
      color: $color-deep-blue; // Black
  }

  h3 {
      color:$color-deep-blue; // Gray
  }
}

/* Styles for screens with a width smaller than 768px (i.e. tablets and smartphones) */
@media (max-width: 768px) {
  .about-container-contacts {
      // //font-size: 14px;
  }

  
  


}

/* Styles for screens with a width smaller than 480px (i.e. smartphones) */
@media (max-width: 480px) {
  .about-container-contacts {
      // //font-size: 12px;
  }
}



// @media (min-width: 768px) {
//   .about-container-text {
//     .about-container-text-details {
//       display: flex;
//       flex-direction: column-reverse;
//     //  align-items: flex-start;
//       justify-content: space-between;
//       padding: 0 50px;

//     }
//     figure {
//      width: 55%;

//       // img {
//       //  max-width: 100%;
//       //   height:100%;
//       // }
//     }
//   }
// }

@media (min-width: 992px) {
  .about-container-text {
    .about-container-text-details {
      display: flex;
      //flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      background:rgba(220, 220, 220, 0.46);
      width:100%;
      .about-container-text-details-description{
        display: flex;
        flex-wrap: wrap;
    //    flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin:40px;
       // width:70%;
        padding-bottom:2vh;
      }
      figure {
        max-width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        figcaption {
          // //font-size: 1.5em;
        }
      }
    }
  }
}
.about-container-text-details-description {
  flex: 1;

}

.about-container-text-details-image {
  flex: 1;
  margin-left: 2rem;
  width:50vw !important;
  height:50vh;
}


/* Default styles for all screen sizes */
// .about-container-contacts{
  
//   color: #000000; // Black

//   h5 {
//       color: rgb(248, 64, 2); // Black
//       overflow: hidden;
//   }

//   h3 {
//       color: #808080; // Gray
//       // //font-size: 16px;
//   }
// }

/* Styles for screens with a width smaller than 768px (i.e. tablets and smartphones) */
@media (max-width: 768px) {
  .about-container-contacts {
      // //font-size: 14px;
  }
}

/* Styles for screens with a width smaller than 480px (i.e. smartphones) */
@media (max-width: 480px) {
  .about-container-contacts {
      //font-size: 12px;
  }

}
.about-container-text-values-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (min-width: 480px) {
    padding:0px 20px;
  
  }
}

.about-container-text-values {
  flex: 1;
  margin-right: 2rem;
}

.about-container-text-image {
  flex: 1;
}



.about-ourmission {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  margin-bottom: 30px;
}

.about-ourmission figure {
  margin-right: 2rem;
  flex-shrink: 0;
}

.about-ourmission p {
  text-align: center;
  flex-grow: 1;
  padding-left: 20px;
  //font-size: medium;
}

@media (max-width: 767px) {
  .about-container-text-details-image{
    width:100% !important;
    height:50% !important;
  }
  .about-container-text-values-image{
    flex-direction: column-reverse;
   
  }
  /* Mobile devices */
  .about-ourmission {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px 0px 0px;
    
  }
  
  .about-ourmission figure {
    margin-right: 0;
    margin-bottom: 2rem;
    width: 100%;
  }
  
  .about-ourmission p {
    p {
      padding: 20px;
    }
    //font-size: 1rem;
    text-align: left;

    h1{
      text-align: center;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Tablets */
  .about-ourmission {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;

 
  }
  
  .about-ourmission figure {
    margin-right: 0;
    margin-bottom: 2rem;
    width: 100%;
  }
  
  .about-ourmission p {
    padding: 0;
    //font-size: 1rem;
    text-align: left;
  }
}

@media (min-width: 992px) {
  /* Desktops */
  .about-ourmission {
    flex-direction: row;
    align-items: center;
    padding: 20px 40px;
    
  }
  
  .about-ourmission figure {
    margin-right: 2rem;
    margin-bottom: 0;
    width: 50%;
  }
  
  .about-ourmission p {
    padding: 0 20px;
    //font-size: medium;
    text-align: center;
  }
}
