@import '../basic/colors';

.G-logo{
    margin-left: 10px;
}

.ant-layout-content{

    height:75vh;
    width:100%;
    display:center;
    align-items: center;
    justify-content: center;
    align-content: center;


    .admin-layout{
     
        width:100%;
        height:100%;
      
        justify-content: center;
        display:flex;
        color:black;
        flex-direction: column;
        align-items: center;
        list-style: none;
        background-color: rgba(212, 212, 212, 0.467);;
        padding:60px;
    }
  }



  .ant-layout-content{
    overflow: hidden;
}