.G-logo{
    margin-left: 10px;
}

.ant-layout-content{
   
    height:75vh;
    width:100%;
    display:center;
    align-items: center;
    justify-content: center;
    align-content: center;


    .admin-layout{
     
        width:100%;
        height:100%;
        justify-content: center;
        display:flex;
        color:black;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }
  }

  .ant-layout{
    .nav_home {
        text-shadow: rgb(0, 0, 0) 0px 0px 0px, rgb(0, 0, 0) 0px 0px 0px, rgb(255, 255, 255) 0px 0px 0px, rgb(73, 255, 24) 0px 0px 0px, rgb(73, 255, 24) 0px 0px 0px, rgb(255, 24, 236) 0px 0px 0px, rgb(255, 24, 170) 0px 0px 0px, rgb(205, 24, 255) 0px 0px 0px;
        margin-top:-15px;
        a{
            font-size: xx-large;
        }
    }
  }