$border-color: #02ae2dcb;
$menu-color:rgba(136, 255, 0, 0);
$menu-color2:rgba(57, 240, 2, 0.962);


/* Define font-face */
@font-face {
    font-family: myfont;
    src: url("../../public/assets/fonts/Ramadhan_Mubarak.ttf");
  }
  .menu-admin {
      
  
      list-style: none;
      padding: 0;
      margin: -20px 0 0 0 ;
      text-align: center;
      display:flex;
      flex-direction: row;
      font-weight:800;
      justify-content: end;
      align-items: end;

    li{

        margin:20px;

        :hover{

           
            color:$menu-color2;
           

           
        }
    }
}
  /* Base styles for navigation bar */
  .admin-nav {
    position: absolute;
    z-index: 10;
    // background: #dc0a0afa;
    width: 100%;
    height:65px !important;
    color: rgb(1, 136, 163);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    text-shadow: #0ca80900;
    
    /* Make .nav_home take up one-third of the available space */
    flex: 1 0 auto;
  
    /* Media query for tablet and laptop/desktop devices */
    @media only screen and (min-width: 768px) {
      height: 8%;
      font-size: medium !important;
        
      .menu-icon {
        display: none;
      }
    }
  
    /* Media query for mobile devices */
    @media only screen and (max-width: 767px) {
      height: auto;
    //   flex-direction: column;
        
     

  
      .menu-icon {
        display: block;
        font-size: 30px;
        color: rgb(255, 255, 255);
        cursor: pointer !important;
      
        margin:10px;
        justify-self: end;
        align-self: end;
      }
  
      .menu-admin {
        
        background-color: #f6f6f600;
        list-style: none;
        padding: 0;
       
        text-align: center;
        display:flex;
        flex-direction: row;

        li {
            margin: 10px;
        }
        
        a {
            color: #FFFFFF;
       
            text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, $menu-color 0px 0px 20px, $menu-color 0px 0px 30px, $menu-color 0px 0px 40px, $menu-color 0px 0px 50px, $menu-color 0px 0px 75px;
            text-decoration: none;
            font-size: large;
            font-weight: 500;
        }
    }
    
    .show-menu {
        display: block;

    }
}
}

/* Styles for .nav_home */
.admin-nav_home {
    font-size: 1.5em;
    color: #FFFFFF;
    margin-left: 20px;
    text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: space-between;
    
    &:hover {
        color:rgb(0, 0, 0);
        text-shadow: 0 0 5px $menu-color, 0 0 10px $menu-color, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
        border-radius: 20px;
    }
    
    // Apply font-size for mobile devices
    @media only screen and (max-width: 767px) {
        font-size: 1.0em;
        text-shadow: 0 0 2px $menu-color, 0 0 5px $menu-color, 0 0 7px #FFF, 0 0 10px #49ff18, 0 0 10px #49FF18, 0 0 40px #49FF18;

    }
    
    // Apply font-size for tablet devices
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 1.3em;
    }
    
    // Apply font-size for laptop/desktop devices
    @media only screen and (min-width: 1024px) {
        font-size: 1.5em;
    }
}

/* Styles for navigation menu items */
.admin-nav_menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #FFFFFF;
    justify-content: center;
    text-shadow: 0 0 5px #000000, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 20px #49FF18, 0 0 35px #49FF18, 0 0 55px #49ff18;
    padding-top: 10px;


    @media only screen and (max-width: 767px) {
        // margin-top: 20px;
        color: green;
        font-size: large;
        justify-content:center;
        text-align: end;
        flex-direction: column;
        // .menu-admin{
        //     display:flex;
        //     flex-direction: column;
        //     // display:none;
        //     opacity: 0;
        //     transform: translateY(-10px);
        //     transition: opacity 0.35s ease-out, transform 0.35s ease-out;
        //   }

        .show-menu{
            
            background:rgba(97, 96, 96, 0.837);
            border-top: 7px ridge $border-color;
            border-right: 4px ridge $border-color;
            border-bottom: 4px ridge $border-color;
            border-left: 4px ridge $border-color;
            border-radius: 0px 10px 10px 10px;
            opacity: 1;
            transform: translateY(0);
            transition: opacity 0.5s ease-out, transform 0.35s ease-out 0.1s;
            :hover{
                color:black;
                font-weight: 650;
                text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, $menu-color2 0px 0px 10px, $menu-color2 0px 0px 20px, $menu-color2 0px 0px 20px, $menu-color2 0px 0px 25px, $menu-color2 0px 0px 45px;

            }
            li{
                border-bottom:1px ridge $border-color;
            }
        }

        a {
            margin: 0 20px;
        }
    }
}

a {
    color: inherit;
    text-decoration: none;
}




// .admin-nav_home {
//     font-family: myfont;
//     font-size: 2em;
//     color: rgb(2, 147, 60);
//     color: #FFFFFF;
  
//     text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
//     /* Make .nav_home take up one-third of the available space */
//     flex: 0 0 calc(100% / 3);
   

//     :hover{
//         color:rgb(0, 0, 0);
//         text-shadow: 0 0 5px $menu-color, 0 0 10px $menu-color, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
//         border-radius: 20px;
        
//     }
// }

.admin-site-layout{
    padding:0 !important;
}


$border-color: #02ae2dcb;
$menu-color:rgba(136, 255, 0, 0);
$menu-color2:rgba(57, 240, 2, 0.962);


/* Define font-face */
@font-face {
    font-family: myfont;
    src: url("../../public/assets/fonts/Ramadhan_Mubarak.ttf");
  }
  .menu-admin {
      
  
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
      display:flex;
      flex-direction: row;
      font-weight:800;
      justify-content: center;
      align-items: center;
    li{

        margin:20px;

        :hover{

           
            color:$menu-color2;
           

           
        }
    }
}