

.career {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
  background:rgb(173, 173, 173);
  color:black;
  h1{
    color: #000000;

    text-shadow: 0 0 5px #ffffff, 0 0 5px #f1f1f1, 0 0 5px #FFF, 0 0 5px #ff1818, 0 0 5px #49FF18, 0 0 5px #49FF18, 0 0 5px #49FF18, 0 0 5px #49ff18;
    
  }
  &-text {

    text-align: center;
    margin:2px;
    padding:40px;
    width:40%;
    h5{
      overflow: hidden;
      padding-bottom: 20px;
    }
    h3 {
      font-size: 0.9em;
      color:red;
      text-shadow: 0 0 5px #ffffff, 0 0 5px #f1f1f1, 0 0 2px #FFF, 0 0 2px #df0303, 0 0 2px #e91202, 0 0 3px #f90d05, 0 0 2px #df3400, 0 0 2px #fc2200;

    }
  }

  &-banner {
    margin-top: 4rem;
    padding: 5rem;
    background-color: #0000ff;
    color: white;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-top: 0;


    &-text {
      width: 60vw;
    
    }
  }
}

@media screen and (max-width: 768px) {
  .career-text{
    padding:0;
  }
  
  }
.career-container-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: url("../../public/assets/sunset.jpg") no-repeat center;  background-size: cover !important;

  width: 100%;
 height: 200px;
  justify-content: center;

  h1 {
    font-family: myFont;
    color: green;
    text-stroke: 2px white;
    text-shadow: -3px 0 rgb(255, 255, 255), 0 3px white, 3px 0 white,
      0 -3px white;
    font-size: 6.5rem;
    margin-top: 20px;
    line-height: 1em;
    overflow: hidden;
    width: 100% !important;
  }
}

.career-jobpost-container {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(197, 197, 197) 100%);
  color: black;
  

  .job-posting {
    width: 45%; /* adjust this value as needed */
    margin: 10px;
    padding: 40px;
    Button{
      width:40%;
      }
  }

  @media screen and (max-width: 768px) {
    .job-posting {
      width: 80%;
    }
  }
}

// .career-jobpost-container {
//   display: flex;
//   flex-direction: column;
  
//   justify-content: center;
//   align-items: center;
//   // padding: 20px;
//   overflow: hidden;
//   overflow-y: scroll;
//   background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(197, 197, 197) 100%);
//   color: black;
//   /* Add these two media queries */
//   @media screen and (min-width: 768px) {
//     flex-direction: column;

//   }

//   @media screen and (min-width: 1200px) {
//     flex-direction:row;
//     flex-wrap: wrap;
//   }


// }


// .job-posting{
//   margin:50px;
//   background:red;
// }

// .job-posting {
//   width:90%; /* This will give each column some margin between them */
//   display: inline-block;
//   vertical-align: top;
//   margin:10px;
//   padding:40px;
//   background:rgba(128, 128, 128, 0.121);
//   border:#0000ff 20px ;
//   border: 2px dotted;
//}
.job-posting {
  /* Default styles */
  width: 100%;
  height: auto;
  margin:10px;
  padding:40px;
  background:rgba(128, 128, 128, 0.121);
  border: 2px dotted;
  /* Styles for mobile screens */
  @media only screen and (min-width: 320px) {
    width: 100%;
    height: auto;
  }

  /* Styles for tablet screens */
  @media only screen and (min-width: 768px) {
    width: 50%;
    height: 400px;
  }

  /* Styles for laptop screens */
  @media only screen and (min-width: 1024px) {
    width: 33.33%;
    height: 400px;
  }

  /* Styles for desktop screens */
  @media only screen and (min-width: 1200px) {
    width: 25%;
    height: 400px;
  }
}


.no-job-posting {
  /* Default styles */
  width: 100%;
  height: auto;
  margin:10px;
  padding:40px;
  background:rgba(128, 128, 128, 0.121);
  border: 2px dotted;
  display:flex;
  text-wrap: balance;

  justify-content: center; 
  align-items: center;
  /* Styles for mobile screens */
  @media only screen and (min-width: 320px) {
    width: 100%;
    height: auto;
  }

  /* Styles for tablet screens */
  @media only screen and (min-width: 768px) {
    width: 50%;
    height: 400px;

  }

  /* Styles for laptop screens */
  @media only screen and (min-width: 1024px) {
    width: 75%;
    height: 400px;
  }

  // /* Styles for desktop screens */
  // @media only screen and (min-width: 1200px) {
  //  width: 75%;
  //   height: 400px;
  // }
}


.job-application-form{
  width:500px;
background:rgb(235, 235, 235);
margin:30px 0px 30px 0;
  @media only screen and (max-width: 425px) {
    width: 80vw;
    height: auto;
  }
}


.Career-holder {
  background: rgb(181,180,180);
  background: linear-gradient(180deg, rgba(181,180,180,1) 0%, rgba(128,128,128,1) 93%, rgba(157,203,157,1) 100%, rgba(0,0,0,1) 100%);
  width: 100%;
  /* padding: 0 20%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.application-jobpost{
  padding: 20px 0;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}