.no-job-postings {
    
    width: 100%;
    height: 200px ;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.4em;
    background: #eaeaea85;
    font-weight: 500;

   /* Styles for mobile screens */
   @media only screen and (min-width: 320px) {
  
  }

  /* Styles for tablet screens */
  @media only screen and (min-width: 768px) {
    width: 50%;
    height: 400px;
  }

}

.dashboard-container-banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgb(7 15 69) 0%, rgb(172, 240, 172) 53%, rgb(3 8 29) 99%);
  width: 100%;
  height: 100px;
 color: white !important;
  p{
    //font-size: larger;
  }
  justify-content: center;
  overflow:visible !important;

  h1 {
    font-family:myfont;
    color: green;
    //text-stroke: 2px white;
    text-shadow: -2px 0 white, 0 4px white, 2px 2px white, 0 -2px white;
    
    font-size: 6.5rem;
    margin-top: 20px;
    line-height: 1em;
    overflow: hidden;
    width:100% !important;
  }

  button {
    border-radius: 20px 20px 0 20px;
    background: transparent;
    color: yellow;
    border-color: yellow;
    //font-size: 0.9em;
  }
}



.ant-space{
  display:flex;
  flex-direction: column;
  margin:20px 0  20px 0;
}

.adminMenu{
  width:100%;
  height:600px;

  .ant-layout{
    height:100%;
  }
}