// colors.scss

$color-light-gray: #F6F1F1; // rgb(246, 241, 241)
$color-soft-blue: #AFD3E2; // rgb(175, 211, 226)
$color-vibrant-blue: #19A7CE; // rgb(25, 167, 206)
$color-deep-blue: #146C94; // rgb(20, 108, 148)
